<!DOCTYPE html>
<html>
<head>
    <title>工资管理系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if session.get('user_id') %}
        <h2 class="my-4">员工工资管理系统</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">工资管理系统</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if session.get('is_admin') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('employee_list') }}">员工管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('salary_input') }}">工资录入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('salary_statistics') }}">工资统计</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('resignation_list') }}">辞职申请</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('employee_dashboard') }}">我的信息</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">退出登录</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>